<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.message.sendmessage.mapper.EnumTypeMapper">
    <resultMap id="enumTypeResult" type="com.message.sendmessage.entity.EnumType">
        <id property="enumId" jdbcType="INTEGER" column="enum_id"/>
        <result property="enumName" jdbcType="VARCHAR" column="enum_name"/>
        <result property="enumValue" jdbcType="VARCHAR" column="enum_value"/>
        <result property="enumDesc" jdbcType="VARCHAR" column="enum_desc"/>
    </resultMap>

    <sql id="enumTypeCol">
        enum_id
        ,enum_name,enum_value,enum_desc
    </sql>

    <select id="search" resultMap="enumTypeResult" flushCache="true">
        select *
        from enum_type
    </select>

    <insert id="save1" parameterType="com.message.sendmessage.entity.EnumType">
        insert into enum_type (enum_id, enum_name, enum_value, enum_desc)
        values (#{enumId}, #{enumName}, #{enumValue}, #{enumDesc})
    </insert>

    <update id="upd" parameterType="com.message.sendmessage.entity.EnumType">
        update enum_type set
        <if test="enumName!=null and enumName !=''">enum_name = #{enumName},</if>
        <if test="enumValue!=null and enumValue !=''">enum_value = #{enumValue},</if>
        <if test="enumDesc!=null and enumDesc !=''">enum_desc = #{enumDesc}</if>
        <where>
            enum_id = #{enumId}
        </where>
    </update>

    <delete id="del" parameterType="com.message.sendmessage.entity.EnumType">
        delete from enum_type
        <where>
            enum_id = #{enumId}
        </where>
    </delete>

    <delete id="delBach" parameterType="java.util.List">
        delete from enum_type
        <where>
            enum_id in
            <foreach item="id" collection="ids" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </delete>

</mapper>